
.btn-novo-cliente {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-novo-cliente:hover {
  background-color: #2563eb;
}



.clientes-table th {
  background-color: #f8fafc;
  padding: 16px;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #64748b;
  font-weight: 600;
  border-bottom: 2px solid #e2e8f0;
}

.clientes-table td {
  padding: 16px;
  border-bottom: 1px solid #f1f5f9;
  color: #334155;
  font-size: 0.95rem;
}

.clientes-table tr:hover {
  background-color: #f8fafc;
}

.font-medium {
  font-weight: 500;
  color: #0f172a !important;
}

.actions-cell {
  display: flex;
  gap: 10px;
}



.btn-edit {
  color: #3b82f6;
}

.btn-edit:hover {
  background-color: #eff6ff;
}

.btn-delete {
  color: #ef4444;
}

.btn-delete:hover {
  background-color: #fef2f2;
}

.page-container {
    padding: 20px 40px;
    background-color: #f4f7fb; 
    min-height: 100vh; 
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.table-container-wrapper {
    flex-grow: 1; 
    overflow: auto; 
}