@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-variant-numeric: tabular-nums;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font: inherit;
}